{% extends 'Base.html'%}

{% block content %}

<div class="row" style="background-color: darkgray;">
    <div class="col-3">
        <img src="/static/yousha.jpg" class="img-fluid" style=" width: 300%;">
    </div>

        <div class="col-md-7 col-sm-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
            <div>
                <div class="c">
                    <h2 style="text-align: center;">Yousha Hyatoolla</h2>
                    <p class="margin-top";>I’m currently majoring in Software Engineering. I will receive my degree in 2022. While having a good
                    analytical understanding of algorithms and databases, I’ve also completed a great deal of coursework on cutting-edge
                    programming trends and best practices, including Java, Ruby, Lisp, C, HTML5, CSS, Python and JavaScript
                    during my two years at Concordia University.</p>
                    <p class="margin-top";>Although being a programmer is time consumming and requires a lot of energy, I always keep time for myself.
                    While playing soccer, going to the gym, playing ping pong and swimming are all part of my weekly routine,
                    I find more enjoyment in spending time with my family and playing video games with friends and family, which is what
                    I mainly do in my spare time.</p>
                </div>


            </div>
        </div>

</div>

{% endblock %}