{% extends 'Base.html'%}

{% block content %}
<br><br><br><br>
<!--div class="background"-->
    <div class="p">
        <center><h2>Projects</h2></center>
        <br><br>
        <center>

            <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Java</th>
            <th scope="col">Lisp</th>
            <th scope="col">C</th>
            <th scope="col">Ruby</th>
        </tr>
    </thead>
  <tbody>
        <tr>
            <td>Registration plates storage</td>
            <td>Tree maker</td>
            <td>File I/O</td>
            <td>Electronic library</td>
        </tr>
        <tr>
            <td>Linked-list project</td>
            <td>Linked-list project</td>
            <td>Linked-list project</td>
            <td>-</td>
        </tr>
        <tr>
            <td>World cup game</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Electronic library</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Garden game</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>

  </tbody>
</table>

        </center>
    </div>
    <br><br>

<!--/div-->

{% endblock %}