{% extends 'Base.html'%}

{% block content %}

    <style>
    html,body{
        overflow-x: hidden;
        background-color: #3E3A39;
    }
    .header{
        {#margin-left: 615px;#}
        line-height: 6;
        color: ghostwhite;
        font-family: 'Exo', sans-serif;
        font-size: 40px;
        font-weight: 200;
    }
    .paragraph{
        color: ghostwhite;

    }
    .h3{
        line-height: 3;
        color: ghostwhite;
    }
    </style>

    <body>
       <center> <div class="header">Soccer</div></center>
        <div class="paragraph">
            I love soccer.

            If I have to explain why I love this game, I'd like to remind those days when I used to play soccer quite often during my childhood.
            It was the world-cup season of 2002 AD. The game was hosted by two Asian nations, Japan and Korea.

            There was a huge excitement of the game all over my place. Fortunately, it was holiday time.
            We used to watch the game in the big screen and try to copy their styles of playing. We used to tag name of the famous players.
            I still vividly remember how exciting those moments used to be. We even formed a club. A senior football player taught us the basic skills.
            We improved a lot in a short period of time and played & won few matches too.

            Brazil was the winner of that world cup and Brazillian Ronaldo, Oliver Kahn of Germany were very popular at that time.
            I even cut my hair like Ronaldo. lol.

            This is about how I started watching and being passionate soccer fan.

            Now, lets come to the point why the heck I love soccer then.

            I like it coz I know it well since childhood.

            I like it coz I feel this is a sport full of passion, with lots of twists and turns throughout the game.

            I like it as it is a most popular sport in the world. & it used to feel good when discussing with friends about the game.
            I like it as I feel it is a beautiful game where two teams fights with their own strategy and try to execute their plans to succeed just like we fight hard in life to succeed.

            It gives me inspiration like never giving up attitude, team spirit, getting excellence through hard word and dedication.

            I like it because I try to watch not only game but the skills like dribbling, long & short pass, free kick,
            corner kick, penalty, defense, zonal marking, positioning strategy, ball possession tactics, stamina, header, speed, agility, strength, flexibility, touch on the ball.

            When you start watching soccer with curiosity with close attention to the technical aspects, I am  sure you can't stay without liking it.

            The team that I support is called Manchester United. I've been watching them play since my early childhood and fell in love with them ever since.
        </div>

        <center><div class="h3">Manchester United</div></center>
    
        <center> <img src="/static/SportsPics/mufc.png"></center>

        <center><div class="header">Ping Pong</div></center>

        <div class="paragraph">
            I'm born for it. The moment I touched the paddle I knew it, you create a deep relationship with the racket, ball, table,
            the sound of ball, dynamics of the shot execution.

            The satisfaction you get when you slice the ball with your paddle, which creates a flywheel of spin and the surprise at your opponent's
            face and his inability to read, understand and reply to it.
            Your opponent thinks you are a magician but deep down you know it is no magic but countless hours of pleasurable practice.

            In short when I hold the paddle, It is like a violinist holding the violin or the pianist creating a symphony.

            It is an art. you lose yourself inside it and hours just pass by.
        </div><br><br>
        <center> <img src="/static/SportsPics/ping.jpg"></center>

        <center><div class="header">Gym</div></center>

        <div class="paragraph">
            Yes, I love the gym. It's like therapy for me. Giving all my remaining energy of the day to that one last exercise, that one last rep,
            that one last satisying set. I love that feeling. I am tired like hell after commuting for about two hours in public transport but
            not a day went by when I don't hit the gym. As soon as I enter it, it reenergizes me, I get motivated of my own.
            And do the most hardcore workout, competing with myself. Giving best from the last time. The sweat contains all the anger, frustration,
            disappointments, failures, negativity of the day and when I finish my workout I am left with lots of positiveness, happy mind, smile on face,
            a relief of satisfaction and of course soreness in my muscles. I am not a bodybuilder nor trying to be one, I considered my physique just
            an average kind, focusing more on fitness rather than for any competition.

            It's not mandatory that one must go to gym to get fit, there are several other physical activities one can add in their schedule.
            Yoga, running, cycling etc but what's important is that one should definitely add a physical activity in their busy schedule, at least one.
            That should be mandatory. It's never too late to work on your body, start from today itself. NEVER GIVE UP!!
        </div><br><br>

        <center><img src="/static/SportsPics/gym.png"></center>

        <center><div class="header">Swimming</div></center>

        <div class="paragraph">
            As a kid, as soon as school was out and temperatures started to rise, the first thing I wanted to do was jump in a body of water.
            It didn’t matter if it was the lake or the neighborhood pool—I just wanted to swim. But now as an adult, there are even more reasons
            I enjoy it. Here’s why I still love to swim:

            I love being outside in the summer. To me, being in or near water helps to reduce feelings of stress—even just listening to the sound of
            water is soothing. Swimming is a great way to enjoy fresh air, sunshine, and water all at the same time.
            Those things combined are great at instantly improving my mood—likely thanks to the sunshine vitamin, or vitamin D, as we know it.
            Vitamin D is produced in your skin in response to sun exposure and helps regulate mood, ease anxiety, and ward off depression.
        </div><br><br>

        <center><img src="/static/SportsPics/swim.jpg"></center><br><br>






    </body>


{% endblock %}